.ext-strict .ext-ie6 .x-layout-split {
	BACKGROUND-COLOR: #dfe8f6
}
.add {
	BACKGROUND-IMAGE: url(../img/icon/add.gif)! important
}
.about {
	BACKGROUND-IMAGE: url(../img/png/about.png)! important
}
.delete {
	BACKGROUND-IMAGE: url(../img/icon/delete.gif)! important
}
.remove {
	BACKGROUND-IMAGE: url(../img/icon/delete.gif)! important
}
.help {
	BACKGROUND-IMAGE: url(../img/icon/help.png)! important
}
.refresh {
	BACKGROUND-IMAGE: url(../img/png/refresh.png)! important
}
.bjgl {
	BACKGROUND-IMAGE: url(../img/icon/bjgl.png)! important
}
.jlsb {
	BACKGROUND-IMAGE: url(../img/icon/jlsb.png)! important
}
.pzgl {
	BACKGROUND-IMAGE: url(../img/icon/pzgl.png)! important
}
.sjgl {
	BACKGROUND-IMAGE: url(../img/icon/sjgl.png)! important
}
.tjbb {
	BACKGROUND-IMAGE: url(../img/icon/tjbb.png)! important
}
.user {
	BACKGROUND-IMAGE: url(../img/icon/user.png)! important
}
.yxjg {
	BACKGROUND-IMAGE: url(../img/icon/yxjg.png)! important
}
.yygl {
	BACKGROUND-IMAGE: url(../img/icon/yygl.png)! important
}
.ptgl {
	BACKGROUND-IMAGE: url(../img/icon/ptgl.png)! important
}
.xtgl {
	BACKGROUND-IMAGE: url(../img/icon/xtgl.png)! important
}
.sjygl {
	BACKGROUND-IMAGE: url(../img/icon/sjygl.png)! important
}
.wlgl {
	BACKGROUND-IMAGE: url(../img/icon/wlgl.png)! important
}
.recycle {
    BACKGROUND-IMAGE: url(../img/icon/recycle.png)! important
}
.account {
    BACKGROUND-IMAGE: url(../img/png/account.png)! important
}
.set {
    BACKGROUND-IMAGE: url(../img/png/set.png)! important
}
.setting {
    BACKGROUND-IMAGE: url(../img/png/setting.png)! important
}
.system {
    BACKGROUND-IMAGE: url(../img/png/system.png)! important
}
.wifi {
    BACKGROUND-IMAGE: url(../img/png/wifi.png)! important
}
.audit {
    BACKGROUND-IMAGE: url(../img/png/audit.png)! important
}
.monitor {
    BACKGROUND-IMAGE: url(../img/png/monitor.png)! important
}
.crl {
    BACKGROUND-IMAGE: url(../img/png/crl.jpg)! important
}
.down {
    BACKGROUND-IMAGE: url(../img/icon/down.png)! important
}
.upload {
    BACKGROUND-IMAGE: url(../img/icon/upload.png)! important
}
.download {
    BACKGROUND-IMAGE: url(../img/icon/download.png)! important
}
.server {
	BACKGROUND-IMAGE: url(../img/png/server.png)! important
}
.status {
	BACKGROUND-IMAGE: url(../img/png/status.png)! important
}
.upgrade {
	BACKGROUND-IMAGE: url(../img/png/upgrade.png)! important
}
.query {
	BACKGROUND-IMAGE: url(../img/icon/query.png)! important
}
.start {
	BACKGROUND-IMAGE: url(../img/png/start.png)! important
}
.stop {
	BACKGROUND-IMAGE: url(../img/png/stop.png)! important
}
.resources {
	BACKGROUND-IMAGE: url(../img/png/resources.png)! important
}
.key {
	BACKGROUND-IMAGE: url(../img/key.png)! important
}
.door_out {
	BACKGROUND-IMAGE: url(../img/door_out.png)! important
}

